
<div class="col d-flex justify-content-center">
<div class="card mb-10" style="max-width: 800px;">
  <div class="row no-gutters">
    <div class="col-md-30">
      
 <div class="col d-flex justify-content-center">
   <h5 class="card-title">Token#</h5>
      <h5 class="card-title" id="tokenID"><%=@list.table_id%></h5>
    </div>
    
    <div></div>   Listed Price : 
      <div  class="card-body col d-flex justify-content-center"> 
     <h6 id="listedPrice"><%= @list.token_price%></h6>
     </div>
      </div>
      <div>
       <button id="buyBtnId" type="button" class="btn btn-outline-primary">Buy</button> <br>
      </div>
    </div>
  </div>
</div>
</div>











 