<footer class=" text-center text-lg-start fixed-bottom text-dark">
  <!-- Copyright -->
  <div class="text-center p-3" >
    <p>&copy; TECHMASTER <%= Date.today.year %> All Rights Reserved</p>
  </div>
  <!-- Copyright -->
</footer>


