<br><br><br><br><br><br>
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome to Nft Market </h5>
    <p class="card-text">Nfts boom boom boom </p>
    <a href="/mint_nfts" id="mintBtn" class="btn btn-primary">Mint Nfts</a>   
  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.js" integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
  <div class="card-footer text-muted">
    Good Luck !! 
  </div>
</div>