<h1 class="text-center mt-2">====>>  Nfts For Sale <===</h1>
<div class="container mt-5">
  <table class="table table-bordered border-primary">
    <thead>
      <tr class="text-center">
        <th scope="col">TokenID</th>
        <th scope="col">Price</th>
        <th scope="col">Buy</th>

      </tr>
    </thead>
    <tbody>
      <% @tokenlist.each do |table|%>
        <tr class="align-middle text-center">
          <td><%= table.table_id %></td>
          <td><%= table.token_price %> eth</td>
          
         <td>                    
            <%= link_to 'Buy',new_nft_sale_path(table.table_id),class:'btn btn-danger'%> 
            <%= link_to 'Buyyy',nft_path(table.table_id),class:'btn btn-danger'%> 
            
            </td>     
        </tr>        
      <% end%>
    </tbody>
  </table>
</div>







 